{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Home{% endblock title %}
{% block scripts %}
  <link href="{% static 'css/search.css' %}" rel="stylesheet">
{% endblock scripts %}
{% block content %}
    <form method="POST">
        <div class="container mb-5">
            <div class="input-group mb-3">
            <input
                type="text"
                class="form-control"
                list="applications"
                placeholder="{% translate "Start typing application name..." %}"
            />
            <datalist id="applications">
                {% for application in context %}
                    <option value="{{ application }}">
                {% endfor %}
            </datalist>
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    {% translate "Search" %}
                </button>
            </div>
            </div>
        </div>
    </form>
{% endblock content %}