{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Home{% endblock title %}
{% block scripts %}
<link href="{% static 'css/search.css' %}" rel="stylesheet">
<script src="{% static 'js/main_search.js' %}"></script>
{% endblock scripts %}
{% block content %}
<div class="container mb-5">
    <div class="input-group mb-3">
        <input
                class="form-control"
                id="input"
                list="applications"
                placeholder="{% trans 'Start typing application name...' %}"
                type="text"
        />
        <datalist id="applications" name="name">
            {% for application in context %}
            <option name="z" value="{{ application.name }}">{{ application.name }}</option>
            {% endfor %}
        </datalist>
        <div class="input-group-append">
            <a class="btn btn-primary" id="search" href="{% url 'front:applications' %}?name=" onclick='searchApplications()'>{% trans "Search" %}</a>
        </div>
    </div>
</div>
{% endblock content %}

