{% extends 'base.html' %}
{% load i18n %}

{% block title %}Home{% endblock title %}
{% block content %}
    <form method="POST">
        <div class="container mb-5">
            <div class="input-group mb-3">
            <input
                type="text"
                class="form-control"
                list="applications"
                placeholder="{% translate "Start typing application name..." %}"
            />
            <datalist id="applications">
            </datalist>
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    {% translate "Search" %}
                </button>
            </div>
            </div>
        </div>
    </form>
{% endblock content %}